h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.container>p {
    font-size: 16px;
    margin-bottom: 37px;
}

.text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 25px;
}

.short-version {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 33px;
}
.short-version h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.short-version-text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 72px;
}

.short-version-text a {
    color: var(--link-color);
}



